/* You can add global styles to this file, and also import other style files */

@import '~@swimlane/ngx-datatable/release/themes/material.css';

html, body {
  background: #202020;
}

.shadow {
  -webkit-box-shadow: inset 0px 0px 41px 13px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 41px 13px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 41px 13px rgba(0,0,0,0.75);
}

.ngx-datatable.material {
  border: 2px solid whitesmoke !important;
  box-shadow: none !important;
}

.ngx-datatable.material.single-selection .datatable-body-row.active,
.ngx-datatable.material.single-selection .datatable-body-row.active .datatable-row-group,
.ngx-datatable.material.multi-selection .datatable-body-row.active,
.ngx-datatable.material.multi-selection .datatable-body-row.active .datatable-row-group, .ngx-datatable.material.multi-click-selection .datatable-body-row.active,
.ngx-datatable.material.multi-click-selection .datatable-body-row.active .datatable-row-group {
    background-color: #652cfe0f !important;
}
.ngx-datatable.material.single-selection .datatable-body-row.active:hover,
.ngx-datatable.material.single-selection .datatable-body-row.active:hover .datatable-row-group, .ngx-datatable.material.multi-selection .datatable-body-row.active:hover,
.ngx-datatable.material.multi-selection .datatable-body-row.active:hover .datatable-row-group, .ngx-datatable.material.multi-click-selection .datatable-body-row.active:hover,
.ngx-datatable.material.multi-click-selection .datatable-body-row.active:hover .datatable-row-group {
    background-color: #652cfe0f !important;
}
