<div class="row shadow content container">
  <div class="col-md-12 text-center intro-group">
    <h1 class="title">Lelantus</h1>
    <img src="assets/logo.png"/>
    <p class="slogan">Nothing remains unseen</p>
    <p class="description">Our goal bring security to the day-to-day life of potentially vulnerable people, looking for trusted, respectful and inclusive environment. We provide an invisible tool for fighting against possible abuses.</p>
  </div>
  <div class="col-md-12 buttons-group">
    <div class="row">
      <div class="col-md-3 offset-md-3 securityforce-group text-right">
        <button class="btn btn-default securityforce-button" [routerLink]='["/security-force"]'>I'm a security force</button>
      </div>
      <div class="col-md-3 citizen-group text-left">
        <button class="btn btn-default citizen-button" [routerLink]='["/citizen"]'>I'm a citizen</button>
      </div>
    </div>
  </div>
</div>
